.article_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
}

#article {
    margin-top: 64px;
}

.for_imgbtn {
    background-color: #FBF6EA;
    border-radius: 10px;
    border: none;
    padding: 8px;
}

.for_imgbtn1 {
    background-color: #FBF6EA;
    border-radius: 10px;
    border: none;
    padding: 0;
}

.article_box-left {
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 31px 0 31px 32px;
}

.article_box-left2 {
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 31px 0 31px 32px;
    background-color: #FFD050;
}

.article_box-left3 {
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 31px 0 31px 32px;
}

.article_box-left4 {
    max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 31px 0 31px 32px;
}

.ar {
    transition: .3s;
}

.ar:hover {
    background-color: #FFD050;
}

.ar.active {
    background-color: #ffffff;
}

.title_article {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    padding: 27px 0 4px 0;
}

.articleimg {
    width: 43px;
}

.article_box {
    display: flex;
    padding: 70px 0;
    justify-content: center;
    column-gap: 32px;
    .left-article {
        display: flex;
        column-gap: 32px;
    }
    .right-article {
        display: flex;
        column-gap: 32px;
    }
}

@media (max-width:768px) {
    .article_box {
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }
}

@media (max-width:576px) {
    .left-article {
        flex-direction: column;
        row-gap: 32px;
    }
    .right-article {
        flex-direction: column;
        row-gap: 32px;
    }
}