.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

header {
  padding: 10px 0;
  background-color: #232536;
}

.left_nav {
  z-index: 5;
}

.btn {
  background-color: transparent;
  border: none;
}

.right_nav {
  display: flex;
  -moz-column-gap: 83px;
       column-gap: 83px;
  align-items: center;
}
.right_nav .menu_item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  transition: 0.3s;
  color: #FFFFFF;
}
.right_nav .menu_item:hover {
  color: rgb(113, 113, 251);
  text-decoration-line: underline;
}
.right_nav .register_header {
  background-color: aliceblue;
  border: none;
  padding: 12px 46px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  transition: 0.3s;
  border-radius: 10px;
}

.span_nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.span_nav2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFD050;
}

.header_item {
  min-height: 400px;
  max-width: 754px;
}

.header_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  letter-spacing: -2px;
  padding: 24px 0;
}

.btn_header {
  padding: 16px 48px;
  background-color: #FFD050;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  transition: 0.5s;
  border-radius: 10px;
}

.btn_header:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.179), rgba(0, 0, 0, 0.292));
  color: #FFFFFF;
  border-radius: 30px;
}

.header_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 16px 0 46px 0;
  color: #FFFFFF;
  max-width: 599px;
}

.mini_title-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.register_header:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.179), rgba(0, 0, 0, 0.292));
  transform: scale(1.1);
  color: #FFFFFF;
  border-radius: 30px;
}
.register_header:hover .login {
  color: #ffffff;
}

.header_end-box {
  width: 100%;
  min-height: 348px;
  background-color: #F4F0F8;
  text-align: center;
  padding: 80px 0;
}
.header_end-box .end_box-chilled {
  max-width: 515px;
  margin: 0 auto;
}
.header_end-box .startap {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 16px;
}
.header_end-box .end_box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  margin-bottom: 32px;
}
.header_end-box .end_box {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hamburger,
.hamburger2 {
  width: 20px;
}

.hamburger2,
.hamburger {
  display: none;
}

@media (max-width: 668px) {
  .right_nav.active {
    left: 0;
  }
  .logo {
    width: 100px;
  }
  .hamburger2.action {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .hamburger.action2 {
    display: none;
  }
  .right_nav {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    position: absolute;
    background-color: rgba(35, 37, 54, 0.4549019608);
    width: 90%;
    height: 80%;
    left: -100%;
    top: 0;
    transition: 0.3s;
  }
  .right_nav .register_header {
    background-color: blue;
    color: azure;
    border: none;
  }
  .menu {
    flex-direction: column;
    row-gap: 24px;
  }
}
#footer {
  min-height: 164px;
  background-color: #232536;
  padding: 54px 0;
}

.footer_box-right {
  display: flex;
  -moz-column-gap: 26px;
       column-gap: 26px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}

.mail-tell {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}

@media (max-width: 428px) {
  .footer-box {
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
  }
}
.input {
  width: 100%;
  padding: 15px 10px;
  outline: none;
  font-size: 15px;
}

.section {
  margin: 80px 0 100px 0;
}

.for-title {
  max-width: 720px;
  margin: 0 auto;
}

.for-image {
  max-width: 450px;
}

.image {
  width: 100%;
}

.buisnes {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #592EA9;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  margin: 20px 0 24px 0;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.section_box {
  margin-top: 81px;
}

.section_box-min {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  margin-top: 32px;
  padding: 0 10px;
}

@media (max-width: 1120px) {
  .section_box-min {
    flex-direction: column;
    max-width: 450px;
    text-align: center;
  }
  .section_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .for-title {
    max-width: 450px;
    margin-top: 20px;
  }
  .title {
    margin: 20px 0 24px 0;
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .image {
    width: 300px;
  }
  .title {
    margin: 20px 0 24px 0;
    font-size: 26px;
  }
}/*# sourceMappingURL=files.css.map */