section {
    margin: 70px 0 150px 0;
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }
}

.input {
    width: 60%;
    outline: none;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #232536;
}

.section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 70px;
}

.register {
    margin-top: 30px;
    width: 60%;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;
    border: none;
    background-color: #FFD050;
    transition: .3s;
}

.register:hover {
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.112), rgba(0, 255, 255, 0.189), rgba(0, 255, 0, 0.151));
    color: #051072bf;
}

@media (max-width:568px) {
    .section-title {
        font-size: 35px;
    }
    .input {
        width: 60%;
        outline: none;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        color: #232536;
    }
    .register {
        margin-top: 30px;
        width: 60%;
        padding: 10px 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        color: #232536;
        border: none;
        background-color: #FFD050;
    }
}